Orquestrador.json
{
  "name": "Orquestrador",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d889491e-82bf-47d6-8d1c-972fb602fb03",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9272bb44-47d1-4ac2-bafc-5bd8ed3fc5da",
              "name": "Ingestao_sucesso",
              "value": "={{ $('Executa Ingestao').item.json.sucesso }}",
              "type": "boolean"
            },
            {
              "id": "d460a3e1-0c82-4d7d-a10b-781abdeb7c91",
              "name": "Processamento_sucesso",
              "value": "={{ $json.sucesso }}",
              "type": "boolean"
            },
            {
              "id": "9bf09eda-50d8-43e5-bb3b-75ae3fd782ab",
              "name": "comeco",
              "value": "={{ $('Schedule Trigger').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "5e7d60fd-2301-4d13-b66e-fb0fa00117cc",
              "name": "fim",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "f1014c94-3137-4c4f-a9c3-cb9c0d2847e7",
              "name": "total_afetado_ingestao",
              "value": "={{ $('Executa Ingestao').item.json.total_afetado }}",
              "type": "string"
            },
            {
              "id": "ce329cc5-039d-499b-ade2-d84d7f833638",
              "name": "total_afetado_processamento",
              "value": "={{ $json.total_afetado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "6d12e7f2-5ec2-4331-aaaa-680d16059a20",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XtBRARalrI7ZRpL5",
          "mode": "list",
          "cachedResultUrl": "/workflow/XtBRARalrI7ZRpL5",
          "cachedResultName": "Ingestão (Bronze)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "9ed89782-6b79-4b7a-85f1-636238048847",
      "name": "Executa Ingestao",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bovEqPCJ66JAogjE",
          "mode": "list",
          "cachedResultUrl": "/workflow/bovEqPCJ66JAogjE",
          "cachedResultName": "Processamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "de75f5ca-2ca7-479c-9472-1cdf87f8bef4",
      "name": "Executa Processamento",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pipeline_logs (\n  exec_started_at,\n  exec_finished_at,\n  ingestion_status,\n  gold_status,\n  total_ingested,\n  total_gold,\n  error_message\n)\nVALUES (\n  '{{ $json.comeco }}'::timestamptz,\n  '{{ $json.fim }}'::timestamptz,\n  '{{ $json.Ingestao_sucesso }}',\n  '{{ $json.Processamento_sucesso }}',\n  {{ $json.total_afetado_ingestao.toNumber() }},\n  {{ $json.total_afetado_processamento }},\n  {{$json.error_message ? \"'\" + $json.error_message + \"'\" : \"NULL\"}}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        0
      ],
      "id": "9c038ea3-b02f-4167-9bfe-9cdad45873ef",
      "name": "Preenche logging",
      "credentials": {
        "postgres": {
          "id": "wITcFpGBh8x9S5qz",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Executa Ingestao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Preenche logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executa Ingestao": {
      "main": [
        [
          {
            "node": "Executa Processamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executa Processamento": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preenche logging": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1e270a17-bd8d-4f0a-a4ae-b344b3540f01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b0bdcadbe08fb341338345823858ddf8d017c7de4fb13c510894619a964a82e"
  },
  "id": "uBO8KZXHLoP8Q6tU",
  "tags": []
}