workflows/Processamento.json
{
  "name": "Processamento",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -80,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5c7d264-bd67-4863-86d7-000e4ec880dd",
              "name": "id_enriquecimento",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "00699071-1b3d-4722-8be1-8974ce4d1579",
              "name": "status_processamento",
              "value": "={{ $json.payload.status }}",
              "type": "string"
            },
            {
              "id": "7bff1cf0-103a-4a62-a700-a23733b392d2",
              "name": "data_criacao",
              "value": "={{ $json.payload.created_at }}",
              "type": "string"
            },
            {
              "id": "b716cfd6-03a3-4d67-a07d-9038ae187fe0",
              "name": "id_workspace",
              "value": "={{ $json.payload.id_workspace }}",
              "type": "string"
            },
            {
              "id": "b544de45-844b-49df-89a4-937450224d73",
              "name": "nome_workspace",
              "value": "={{ $json.payload.workspace_name }}",
              "type": "string"
            },
            {
              "id": "106159e1-7785-4c61-8581-50a40af915a3",
              "name": "data_atualizacao",
              "value": "={{ $json.dw_updated_at }}",
              "type": "string"
            },
            {
              "id": "d7e74799-4c47-4fb3-99f1-068ede68cfbc",
              "name": "tipo_contato",
              "value": "={{ $json.payload.contact_type }}",
              "type": "string"
            },
            {
              "id": "1f755904-dd8c-4624-9b50-269d95d961b2",
              "name": "total_contatos",
              "value": "={{ $json.payload.total_contacts }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        320
      ],
      "id": "4f9fb134-7658-4572-b85c-96d201832398",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a8dd6dc-f682-4681-ab2e-aa24b8247eab",
              "name": "sucesso",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        416
      ],
      "id": "a3655555-d874-47b7-bfa6-2ed12a034a08",
      "name": "Edit Fields1",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1216,
        208
      ],
      "id": "749e5372-44d8-4133-98d9-3c66416f8161",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a9eac34-1c13-4b99-98ae-5d2743457476",
              "name": "sucesso",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "b250d074-9d77-4d52-91dc-7c4abb34e698",
              "name": "total_afetado",
              "value": "={{ $json.total_afetado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        208
      ],
      "id": "fc441528-8f50-4433-8c59-35b2126782ac",
      "name": "Edit Fields2",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "bronze_enrichments",
          "mode": "list",
          "cachedResultName": "bronze_enrichments"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        128,
        320
      ],
      "id": "a4620530-c420-4dca-bb65-eff971937294",
      "name": "Pega dados Bronze",
      "credentials": {
        "postgres": {
          "id": "wITcFpGBh8x9S5qz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Processa todos os itens do n8n\nreturn items.map(item => {\n  const i = item.json;\n\n  // ---------- Parsing de Datas ----------\n  const created = i.data_criacao ? new Date(i.data_criacao) : null;\n  const updated = i.data_atualizacao ? new Date(i.data_atualizacao) : null;\n\n  let duracaoMinutos = null;\n  if (created && updated) {\n    const diffMs = updated - created;\n    duracaoMinutos = diffMs > 0 ? diffMs / 60000 : 0;\n  }\n\n  // ---------- Tempo por contato ----------\n  let tempoContato = null;\n  if (duracaoMinutos !== null && i.total_contatos && i.total_contatos > 0) {\n    tempoContato = duracaoMinutos / i.total_contatos;\n  }\n\n  // ---------- Categoria de tamanho ----------\n  let categoria = null;\n  const total = Number(i.total_contatos ?? 0);\n\n  if (total < 100) categoria = \"PEQUENO\";\n  else if (total <= 500) categoria = \"MEDIO\";\n  else if (total <= 1000) categoria = \"GRANDE\";\n  else categoria = \"MUITO_GRANDE\";\n\n  // ---------- Tradução tipo_contato ----------\n  const tipoContatoTraduzido = ({\n    \"PERSON\": \"PESSOA\",\n    \"COMPANY\": \"EMPRESA\"\n  })[i.tipo_contato] ?? i.tipo_contato;\n\n  // ---------- Tradução status_processamento ----------\n  const statusTraduzido = ({\n    \"PROCESSING\": \"EM_PROCESSAMENTO\",\n    \"COMPLETED\": \"CONCLUIDO\",\n    \"FAILED\": \"FALHOU\",\n    \"CANCELED\": \"CANCELADO\"\n  })[i.status_processamento] ?? i.status_processamento;\n\n  // ---------- Flags ----------\n  const processamentoSucesso = statusTraduzido === \"CONCLUIDO\";\n\n  const necessitaReprocessamento =\n    i.status_processamento === \"FAILED\" ||\n    i.status_processamento === \"CANCELED\";\n\n  // ---------- Retorno ----------\n  return {\n    json: {\n      ...i,\n\n      duracao_processamento_minutos: duracaoMinutos,\n      tempo_por_contato_minutos: tempoContato,\n      processamento_sucesso: processamentoSucesso,\n      categoria_tamanho_job: categoria,\n      tipo_contato_traduzido: tipoContatoTraduzido,\n      status_processamento_traduzido: statusTraduzido,\n      necessita_reprocessamento: necessitaReprocessamento\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        320
      ],
      "id": "98ed1baf-5317-4fe6-8dba-568d898e14f6",
      "name": "calcula campos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gold_enrichments (\n  id_enriquecimento,\n  id_workspace,\n  nome_workspace,\n  total_contatos,\n  tipo_contato,\n  status_processamento,\n  data_criacao,\n  data_atualizacao,\n  duracao_processamento_minutos,\n  tempo_por_contato_minutos,\n  processamento_sucesso,\n  categoria_tamanho_job,\n  necessita_reprocessamento,\n  data_atualizacao_dw\n)\nVALUES (\n  '{{$json.id_enriquecimento}}',\n  '{{$json.id_workspace}}',\n  '{{$json.nome_workspace}}',\n  {{$json.total_contatos}},\n  '{{$json.tipo_contato}}',\n  '{{$json.status_processamento}}',\n  '{{$json.data_criacao}}'::timestamptz,\n  '{{$json.data_atualizacao}}'::timestamptz,\n  {{$json.duracao_processamento_minutos}},\n  {{$json.tempo_por_contato_minutos}},\n  {{$json.processamento_sucesso}},\n  '{{$json.categoria_tamanho_job}}',\n  {{$json.necessita_reprocessamento}},\n  NOW()\n)\nON CONFLICT (id_enriquecimento)\nDO UPDATE SET\n  id_workspace = EXCLUDED.id_workspace,\n  nome_workspace = EXCLUDED.nome_workspace,\n  total_contatos = EXCLUDED.total_contatos,\n  tipo_contato = EXCLUDED.tipo_contato,\n  status_processamento = EXCLUDED.status_processamento,\n  data_criacao = EXCLUDED.data_criacao,\n  data_atualizacao = EXCLUDED.data_atualizacao,\n  duracao_processamento_minutos = EXCLUDED.duracao_processamento_minutos,\n  tempo_por_contato_minutos = EXCLUDED.tempo_por_contato_minutos,\n  processamento_sucesso = EXCLUDED.processamento_sucesso,\n  categoria_tamanho_job = EXCLUDED.categoria_tamanho_job,\n  necessita_reprocessamento = EXCLUDED.necessita_reprocessamento,\n  data_atualizacao_dw = NOW();\n\n\nSELECT count(*) as total_afetado FROM gold_enrichments;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        320
      ],
      "id": "0dbf85b2-e849-41ee-b280-30294abbc69b",
      "name": "Preenche Gold",
      "credentials": {
        "postgres": {
          "id": "wITcFpGBh8x9S5qz",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pega dados Bronze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "calcula campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega dados Bronze": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calcula campos": {
      "main": [
        [
          {
            "node": "Preenche Gold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preenche Gold": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7ed10293-14c1-4008-8125-ec903bb4fbff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b0bdcadbe08fb341338345823858ddf8d017c7de4fb13c510894619a964a82e"
  },
  "id": "bovEqPCJ66JAogjE",
  "tags": []
}